<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PricingDb" connectionString="data source=hme-dev.cjydbhajoyi8.eu-west-1.rds.amazonaws.com;initial catalog=devHolidayMEdb;user id=DevUser;password=Dev@3891;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>